<%- include('../partials/header') %>

<h2 class="userFlights">Your Flights</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departing from</th>
      <th>Actions</th>
      <th>Ticket Seat</th>
      <th>Ticket Price</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td>
          <a href="/flights/<%= f._id %>">Detail</a>
        </td>
        <% if (f.tickets.length > 0) { %>
          <td><%= f.tickets[0].seat %></td>
          <td><%= f.tickets[0].price %></td>
        <% } else { %>
          <td>N/A</td>
          <td>N/A</td>
        <% } %>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>