<%- include('../partials/header') %>

<h2>Flight Details:</h2>
<p>Airline: <%= flight.airline %></p>
<p>Flight Number: <%= flight.flightNo %></p>
<p>Departure Airport: <%= flight.airport %></p>

<h3>Destinations:</h3>
<ul>
  <% flight.destinations.forEach(destination => { %>
    <li><%= destination.airport %> (Arrival: <%= destination.arrival %>)</li>
  <% }); %>
</ul>

<h3>Add Destination:</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label>Airport Code:
    <select name="airport">
      <option value="AUS">AUS - Australia</option>
      <option value="DFW">DFW - Dallas</option>
      <option value="DEN">DEN - Denver</option>
      <option value="LAX">LAX - Los Angeles</option>
      <option value="SAN">SAN - San Francisco</option>
      <option value="MXN">MXN - Mexico</option>
      <option value="DXB">DXB - Dubai</option>
    </select>
  </label><br>

  <label>Arrival Date/Time:
    <input type="date" name="arrival" required>
  </label><br>

  <button type="submit" id:'destination'>Add Destination</button>
</form>

<h2>Tickets for this Flight</h2>
<%- include('tickets') %>

<!-- Form to Add New Ticket -->
<form action="/flights/<%= flight._id %>/tickets" method="post">
  <label>Seat:
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
  </label><br>

  <label>Price:
    <input type="number" name="price" min="0" required>
  </label><br>

  <button type="submit" id: 'addTicket'>Add Ticket</button>
</form>

<%- include('../partials/footer') %>